<h2>Welcome! Confirm your new Gideon Admin account</h2>

<p>Follow this link to finalize your account registration:
    <br />
    <br />
    <a
        href="{{ .SiteURL }}/auth/confirm?token_hash={{ .TokenHash }}&type=email&next={{ .RedirectTo }}"
    >Confirm your email</a>
</p>

<p>
    If you are unable to click the button above, copy and paste the link below into your browser:
    <br />
    <br />
    <a
        href="{{ .SiteURL }}/auth/confirm?token_hash={{ .TokenHash }}&type=email&next={{ .RedirectTo }}"
    >{{ .SiteURL }}/auth/confirm?token_hash={{ .TokenHash }}&type=email&next={{ .RedirectTo }}</a>
<p>
